@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>EntryIndex</title>
    <style type="text/css">
        td {
            text-align: center;
        }
        th {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function index() {
            document.getElementById("myform").onsubmit = false;
            window.location = "/PersonalManger/EntryPosition/EntryChoose";
        }

        function sub() {
            var allcheck = document.getElementsByTagName("input");
            var count = 0;
            for (var i = 0; i < allcheck.length; i++) {
                if (allcheck[i].checked == true) {
                    count++;
                }
            }
            if (count == 0) {
                alert("请您选中要删除的成员！");
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>
<body style="font-family: 'Microsoft YaHei'; background-color: rgb(237,241,249)">
    <div style="margin: 20px auto;width:800px;">
        @* -------------------表格----------------------------------------------------------*@
        <form class="table-responsive" method="post" action="/PersonalManger/EntryPosition/GetCheckedData" id="myform" onsubmit="return issub(1);">
            <input type="hidden" value="@ViewBag.perid" name="entryWhat" />
            <table class="table table-bordered" id="table" style="font-family: 'Microsoft YaHei'">
                <tr >
                    @if (ViewBag.dep == 1)
                    {
                        <td colspan="2" style="text-align:left;line-height:40px;">
                            <button class="btn btn-primary" onclick="index()" style="width:80px;height:33px;" type="button">返回</button>
                            <select name="dep" style="width:160px;height:33px;display:inherit;">
                                <option value="10001">.NET应用开发部</option>
                                <option value="10004">系统编程技术部</option>
                                <option value="10002">手机应用开发部</option>
                                <option value="10003">硬件编程开发部</option>
                                <option value="10006">市场运营推广部</option>
                                <option value="10005">数字媒体设计部</option>
                            </select>
                        </td>
                    }
                    else
                    {
                        <td colspan="2" style="text-align:left;line-height:42px;">
                            <button class="btn btn-primary" onclick="index()" type="button" style="width:80px;height:32px;">返回</button>
                        </td>
                    }
                    <td style="text-align:right;line-height:42px;"><button class="btn btn-primary" type="button" onclick="sub()" style="width:80px;height:32px;">提交录入</button></td>
                </tr>
                    <tr class="">
                        <td>选择</td>
                        <td>学号</td>
                        <td>姓名</td>
                    </tr>

                    @foreach (MODEL.T_MemberInformation mem in ViewBag.mem as List<MODEL.T_MemberInformation>)
                    {
                        <tr>
                            <td><input type="checkbox" value="@mem.StuNum" name="@mem.StuNum" /></td>
                            <td>@mem.StuNum</td>
                            <td>@mem.StuName</td>
                        </tr>
                    }

            </table>
        </form>

    </div>


</body>
</html>
