@{
    Layout = null;
}
@{
    MODEL.ViewModel.Task.TaskDetail taskDetail = ViewData["taskDetail"] as MODEL.ViewModel.Task.TaskDetail;
    MODEL.ViewModel.Task.TaskEvaluateModel taskEvaluate = ViewData["taskEvaluate"] as MODEL.ViewModel.Task.TaskEvaluateModel;
    MODEL.T_TaskParticipation taskParticipation = ViewData["taskParticipation"] as MODEL.T_TaskParticipation;
    }
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Areas/Task/CSS/TaskDetail.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Areas/Task/JS/TaskDetail.js"></script>
    <script src="~/Areas/Task/JS/uploadfiy/jquery.uploadify.min.js"></script>
    <script src="~/Areas/Task/JS/uploadfiy/swfobject.js"></script>
    <script src="~/Areas/Task/JS/uploadfiy/uploadfiyHelper.js"></script>
    <script>
        function btnok() {
            window.location = "/Task/Task/MyTask";
        }
    </script>
    <title>MyTaskDetail</title>
</head>
<body>
    <div class="main_panel">
        <div class="title_panel">
            <div class="title_image"></div>
            <div class="title_text">任务详情</div>
        </div>

        <ul class="task_ul">
            <li class="task_ul_li_long">
                <div class="circle_red"></div>
                <div class="column_title">任务标题&nbsp&nbsp：</div>
                <div class="column_content">@taskDetail.TaskName</div>
            </li>
            <li class="task_ul_li_long">
                <div class="circle_blue"></div>
                <div class="column_title">任务类型&nbsp&nbsp：</div>
                <div class="column_content">@taskDetail.TaskTypeName</div>
            </li>
            <li class="task_ul_li_short">
                <div class="circle_red"></div>
                <div class="column_title">发布成员&nbsp&nbsp：</div>
                <div class="column_content link_pink"><a title="查看成员信息" href="javascript:void(0)">@taskDetail.TaskSenderName</a></div>
            </li>
            <li class="task_ul_li_short task_ul_li_short_border_left">
                <div class="circle_red"></div>
                <div class="column_title">担任职务&nbsp&nbsp：</div>
                <div class="column_content">@taskDetail.TaskSenderRoles</div>
            </li>
            <li class="task_ul_li_short">
                <div class="circle_blue"></div>
                <div class="column_title">发布时间&nbsp&nbsp：</div>
                <div class="column_content">@taskDetail.TaskBegTime.ToString("yyyy年MM月dd日")</div>
            </li>
            <li class="task_ul_li_short task_ul_li_short_border_left">
                <div class="circle_blue"></div>
                <div class="column_title">截止时间&nbsp&nbsp：</div>
                <div class="column_content">@taskDetail.TaskEndTime.ToString("yyyy年MM月dd日")</div>
            </li>
            @if (taskDetail.TaskTypeId == 10003)
            {
                <li class="task_ul_li_short">
                    <div class="circle_red"></div>
                    <div class="column_title">所属项目&nbsp&nbsp：</div>
                    <div class="column_content link_pink"><a title="查看项目信息" href="javascript:void(0)">@taskDetail.ProjName</a></div>
                </li>
                <li class="task_ul_li_short task_ul_li_short_border_left">
                    <div class="circle_red"></div>
                    <div class="column_title">项目阶段&nbsp&nbsp：</div>
                    <div class="column_content">@taskDetail.ProjPhaseName</div>
                </li>
            }
            <li class="task_ul_li_large">
                @if (taskDetail.TaskTypeId == 10003)
                {
                    <div class="circle_blue"></div>
                }
                else
                {
                    <div class="circle_red"></div>
                }
                <div class="column_title">任务内容&nbsp&nbsp：</div>
                <div class="task_content">
                    <div class="task_content_text">@Html.Raw(taskDetail.TaskContent)
                        <div>
                            @if (taskDetail.TaskAttachmentPath != null)
                            {
                                var str = taskDetail.TaskAttachmentPath;
                                string[] fileName = str.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries);

                                foreach (var name in fileName)
                                {
                                    @Html.Raw("<a href='javascript:downloadFile(\"" + name + "\")');' id='attachmentFile'>" + name + "</br> </a>");
                                }
                            }
                           
                        </div>
                    </div>
                </div>
            </li>
            <li class="task_ul_li_large">
                @if (taskDetail.TaskTypeId == 10003)
                {
                    <div class="circle_blue"></div>
                }
                else
                {
                    <div class="circle_red"></div>
                }
                <div class="column_title">提交内容&nbsp&nbsp：</div>
                <div class="task_content">
                    <div class="task_content_text">
                        @if (taskParticipation.TaskSubmition != null)
                        { Html.Raw(taskParticipation.TaskSubmition); }
                    <div>
                        @if (taskParticipation.TaskAttachmentPath != null)
                        {
                            var strsubmition = taskParticipation.TaskAttachmentPath;
                            string[] fileNameOfSubmition = strsubmition.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                            foreach (var name in fileNameOfSubmition)
                            {
                            @Html.Raw("<a href='javascript:downloadFile(\"" + name + "\")');' id='attachmentFile'>" + name + "</br> </a>");
                            }
                        }
                       
                    </div>
                </div>
            </div>
            </li>
            <li class="task_ul_li_long">
                <div class="circle_blue"></div>
                <div class="column_title">任务评价&nbsp&nbsp：</div>
                <div class="column_content">@taskEvaluate.TaskGrade</div>
            </li>
            <li class="task_ul_li_large">
                <div class="circle_blue"></div>
                <div class="column_title">任务评语&nbsp&nbsp：</div>
                <div class="task_content">
                    <div class="task_content_text">@Html.Raw(taskEvaluate.TaskResponse)</div>
                </div>
            </li>
        </ul>
        <div class="btn" onclick=" btnok();">确&nbsp;定</div>
    </div>
</body>
</html>
