@{
    Layout = null;
    List<MODEL.SystemMessage> msgList = ViewData["sysMsgList"] as List<MODEL.SystemMessage>;
    MODEL.ViewModel.PageModelInMsg pageModel = ViewData["pageModel"] as MODEL.ViewModel.PageModelInMsg;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageHome</title>
    <link href="~/Areas/Message/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Areas/Message/js/bootstrap.min.js"></script>
    <script src="~/Areas/Message/js/jquery-1.11.3.min.js"></script>
    <script src="~/Areas/Message/js/SysMsg.js"></script>
    <script>
        $(function () {
            if (parseInt($("#pageIndex").text()) == parseInt($("#pageCount").text())) {
                $("#nextPage").css("visibility", "hidden");
            }
            if (parseInt($("#pageIndex").text()) == 1) {
                $("#frontPage").css("visibility", "hidden");
            }
        });
    </script>
    <style>
        body {
            background: #EDF1F9;
            font-family: "微软雅黑"；;
        }

        table {
            border: 1px solid #DDDDDD;
        }

        .page {
            float: right;
            /*border:1px solid red;*/
            width: 160px;
        }

            .page label, a {
                float: left;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="container-fluid ">
        <div class=" main">
            <label style="">当前位置：系统消息 ->共 @msgList.Count  条信息</label>

            <table class="table table-striped table-hover " id="messagaTable">
                <thead>
                    <tr style="background: #9BDBF0;">
                        <th style="width:10%;">
                            状态
                        </th>
                        <th style="width:35%;">
                            主题
                        </th>
                        <th style="width:20%;">
                            时间
                        </th>
                        <th style="width:5%;">
                            详情
                        </th>
                        <th style="width:5%;">
                            删除
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var msg in msgList)
                    {
                        <tr>
                            <td>
                                @{string str = msg.IsRead == false ? "未读" : "已读";}
                                @if (str == "未读")
                                {
                                    <label style="color: #F77117; ">
                                        @str
                                    </label>
                                }
                                else
                                {
                                    <label style="color: #4DADE0;">
                                        @str
                                    </label>
                                }
                            </td>
                            <td>
                                @msg.Title
                            </td>
                            <td>
                                @msg.SendTime
                            </td>
                            <td>
                                <a href="/Message/SysMessage/MsgInfo?msgId=@msg.Id">详情</a>
                            </td>
                            <td>
                                <a href="#" onclick="Delete(@msg.Id)">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="page">
                @Html.ActionLink("上一页", "Index", "SysMessage", new { pageIndex = @pageModel.PageIndex, flage = "front", PageSize = 1 }, new { id = "frontPage" })
                &nbsp;&nbsp;<label id="pageIndex">@pageModel.PageIndex</label>
                <label>&nbsp;\&nbsp;</label>
                <label id="pageCount">@pageModel.PageCount</label>&nbsp;&nbsp;
                <label>页</label>&nbsp;
                @Html.ActionLink("下一页", "Index", "SysMessage", new { pageIndex = @pageModel.PageIndex, flage = "next", PageSize = 1 }, new { id = "nextPage" })
            </div>
        </div>
    </div>
</body>
</html>
