@{
    Layout = null;
}
@{
    MODEL.T_MemberInformation user = Session["user"] as MODEL.T_MemberInformation;
    MODEL.ViewModel.MessagaContentModel model = ViewData["messageInfo"] as MODEL.ViewModel.MessagaContentModel;
    string sendName = model.SendName;
    DateTime sendTime = model.SendTime;
    string receiveName = model.ReceiveName;
    string title = model.Title;
    string content = model.Content;
    string atachment = model.Atachment;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageHome</title>
    <link href="~/Areas/Message/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Message/css/home.css" rel="stylesheet" />
    <script src="~/Areas/Message/js/bootstrap.min.js"></script>
    <script src="~/Areas/Message/js/jquery-1.11.3.min.js"></script>
    <script src="~/Areas/Message/js/MessagaContent.js"></script>
</head>
<body>
    <div class="container-fluid ">

        <div class=" main">
            @*/*===============================<< 消息内容  >>=====================================*/*@
            <div class="MessageInfo">
                <div class="sendButton">
                    <span>@Html.ActionLink("返回", "", "", new { id = "return" })</span>

                    <button type="submit" class="btn" id="reply" style="float:right;margin:1.5% 5% auto;">回 &nbsp;&nbsp; 复</button>
                </div>
                <div class="MessagaContent">
                    <div class="infoHeader">

                        <label style="float:left;">
                            发件人：
                        </label>
                        <label id="sendName">@sendName</label>
                        <label style="float:left;">
                            发送时间：
                        </label>
                        <label id="sendTime">@sendTime</label>
                        <label style="float:left;">
                            收件人：
                        </label>
                        <label id="receiveName">@receiveName</label>
                        <label style="float:left;">
                            主题：
                        </label>
                        <label id="title">@title</label>
                        <label style="float:left;">
                            附件：
                        </label>
                        <label id="atachment">
                            @{ string[] arr = @atachment.Split(';');}
                            @{ for (int i = 0; i < arr.Length - 1; i++)
                             {
                                 string[] arr2 = arr[i].Split('|');
                                 string fileName = arr2[0];
                                 string saveName = arr2[1];
                                <a href="/Home/Home/DownLoad?fileName=@fileName&saveName=@saveName ">@fileName</a><br>}
                            }
                            <input type="hidden" id="atachmentHidden" value="@atachment" />
                        </label>
                        <label style="float:left;">
                            正文：
                        </label>
                        <textarea name="content" id="content" placeholder="回复内容" style="width:98%;" rows="4" readonly>@content</textarea>
                        <label style="float:left;">
                            回复：
                        </label>
                        <textarea name="replyContent" id="replyContent" placeholder="回复内容" style="width:98%;" rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
