@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/jquery/jquery-1.11.3.min.js"></script>
    <script src="~/Areas/Permission/Views/JS/Permission.js"></script>
    <title>PerIndex</title>
    <style>
        /*------------------------------分页条样式-----------------------------------------------*/
        .select-pagesize {
            margin-left: 22px;
            width: 44px;
            border: 1px solid RGB(39,184,165);
            margin-top: 6px;
            float: left;
        }
        .div-line {
            border: 1px RGB(39,184,165) solid;
            height: 25px;
            width: 1px;
            margin-top: 3px;
            margin-left: 10px;
            border-left: none;
            border-top: none;
            border-bottom: none;
            float: left;
        }
        .a-first, .a-pre, .a-last, .a-next, .a-refresh {
            background: url(/Areas/PersonalManger/Images/页面2图标.png);
            float: left;
            height: 22px;
            width: 22px;
            margin-top: 6px;
        }
            .a-first:active, .a-pre:active, .a-last:active, .a-next:active, .a-refresh:active {
                position: relative;
                top: 1px;
                left: 1px;
            }
        .a-first {
            background-position: -52px -74px;
            margin-left: 9px;
        }
        .a-pre {
            background-position: -75px -74px;
            margin-left: 12px;
        }
        .a-next {
            background-position: -93px -74px;
            margin-left: 9px;
        }
        .a-last {
            background-position: -118px -74px;
            margin-left: 12px;
        }
        .a-refresh {
            background-position: -155px -75px;
            height: 20px;
            margin-left: 10px;
            margin-top: 7px;
        }
        .lable-text, .lable-page, .lable-text-right {
            float: left;
            color: black;
            font-family: 'Microsoft YaHei';
            font-size: 9px;
            margin-top: 9px;
            margin-left: 10px;
        }
        .lable-text {
            margin-left: 12px;
        }
        .lable-page {
            margin-top: 7px;
            border: 1px rgb(39,184,165) solid;
            width: 25px;
            text-align: center;
            margin-left: 6px;
        }
        .lable-text-right {
            font-size: 12px;
            color: rgb(39,184,165);
            float: right;
            margin-right: 8px;
        }
        .lable-text-left {
            font-size: 12px;
            color: rgb(39,184,165);
            float: left;
            margin-left: 3px;
            margin-top:4px;
        }
    </style>
</head>
<body style="font-family: 'Microsoft YaHei'; background-color: rgb(237,241,249)">
    <div style="margin: 20px auto;width:800px;">
        @* -------------------表格----------------------------------------------------------*@
        <div>
            <button type="button" class="btn btn-primary" onclick="add()">新增权限</button>
            <button type="button" class="btn btn-success" onclick="edit()">编辑权限</button>
            <button type="button" class="btn btn-info" onclick="del()">删除权限</button>
            <button type="button" class="btn btn-info" onclick="show()">查看详细信息</button>
        </div>

            <table class="table table-bordered" id="table" style="font-family: 'Microsoft YaHei';margin-bottom:0px;">
                <thead>
                    <tr class="">
                        <th>权限Id</th>
                        <th>权限名</th>
                        <th>父权限Id</th>
                        <th>区域名</th>
                        <th>控制器名</th>
                        <th>方法名</th>
                    </tr>
                </thead>
                <tbody id="body">
                    @foreach (MODEL.T_Permission per in ViewBag.listPer as List<MODEL.T_Permission>)
                    {
                        <tr onclick="clickrow(this);">
                            <td>@per.PerId</td>
                            <td>@per.PerName</td>
                            <td>@per.PerParent</td>
                            <td>@per.PerAreaName</td>
                            <td>@per.PerController</td>
                            <td>@per.PerActionName</td>
                        </tr>
                    }
                </tbody>
            </table>


        <div style="width: 800px; height: 35px; border: 1px RGB(166,199,203) solid; background-color: rgb(215,232,234);margin-top:0px;">
            <label class="lable-text-left">共 @ViewBag.pageCount 页</label>
            <div class="div-line"></div>
            <a class="a-first" onclick="FirstPage();" id="firstPage" href=""></a>
            <a class="a-pre" onclick="FrontPage()" id="frontPage" href=""></a>
            <label class="lable-text">第</label>
            <span class="lable-page" id="pageNow">@ViewBag.pageNow</span>
            <label class="lable-text" style="margin-left: 5px">页</label>
            <label class="lable-text" id="lable-page-sum" style="margin-left: 5px"></label>
            <a class="a-next" onclick="NextPage();"  id="nextPage" href=""></a>
            <a class="a-last" onclick="LastPage();" href="" id="lastPage"></a>
            <div class="div-line"></div>
            <a class="a-refresh" href="/Permission/Permission/PerIndex"></a>
            <label class="lable-text-right" >显示1到10，总计 @ViewBag.totalRecord 条记录</label>
            <input type="hidden" value="@ViewBag.totalRecord" id="allRows"/>
        </div>


    </div>

</body>
</html>
